.medsos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.medsos h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}